if sys_base_ex
menu "General Configuration"

config FEATURE_^EX^_GLOBAL_CONSOLE_TTY
	string  "TTY to be used console"
	default "ttyS0"
	help 
	     Specify the name of the tty to be used as console

config FEATURE_^EX^_BAUDRATE_CONSOLE_TTY
       int "Baudrate for TTY to be used as console"
       default 115200
       help
               Specify the baudrate of the tty to be used as console.

config FEATURE_^EX^_GLOBAL_DEFAULT_SHELL
	string  "Login Shell for Remote Terminal"
	default "/bin/false"
	help 
	     Specify the name of the program to be executed on login in remote terminals (ssh, telnet ...)

config FEATURE_^EX^_GLOBAL_HOST_PREFIX
	string "Prefix to be used for default host name (3 chars)"
	default "AMI"
	help
		During first power up, the host name is a 3 char prefix followed by MAC address
		Specify the prefix to be used

config FEATURE_^EX^_GLOBAL_DEFAULT_DOMAINNAME
    	string "Default domain name"
	default ""
	help	
		Specify the default domain name for DNS configuration to be used					

config FEATURE_^EX^_GLOBAL_DEFAULT_NETWORK_DHCP
	bool "Set default network config to DHCP"
	default y
	help
		Enable if you want default network configuration as dhcp.
		Otherwise it will be set to manual and cannot connect to 
		device till it is enabled.

choice Boot_Configuration
prompt "Boot Configuration"
config FEATURE_^EX^_FASTER_BOOT_SUPPORT
	bool "Faster Boot Support" 
	default y
	help
	    Enable Faster Boot Support (Boot from SPI)

config FEATURE_^EX^_INITRD_SUPPORT
	bool "INITRD Support"
	default n
	help
		Enabling this support boots the firmware using Initrd
endchoice

if FEATURE_^EX^_FASTER_BOOT_SUPPORT
config FEATURE_^EX^_MMC_BOOT
	bool  "Boot from MMC"	
	default n
	help
		  Supports booting of firmware from SD/MMC Partition
endif
		  
if FEATURE_^EX^_MMC_BOOT
menu "MMC Boot Configuration"


choice FEATURE_^EX^_SELECT_BOOT_MMC_SLOT
prompt "SD/eMMC Slot Selection"
help
        SD/eMMC Slot Selection

config FEATURE_^EX^_SELECT_BOOT_MMC_SLOT0
    bool "SD/eMMC Slot-0"
    default y
    help
        Please select SD/eMMC slot that will have BMC firmware to boot from

config FEATURE_^EX^_SELECT_BOOT_MMC_SLOT1
    bool "SD/eMMC Slot-1"
    default n
    help
       Please select SD/eMMC slot that will have BMC firmware to boot from

config FEATURE_^EX^_SELECT_BOOT_MMC_SLOT2
    bool "SD/eMMC Slot-2"
    depends on @SOC_PILOT_IV
    default n
    help
       Please select SD/eMMC slot that will have BMC firmware to boot from

endchoice


if FEATURE_^EX^_SELECT_BOOT_MMC_SLOT0

choice FEATURE_^EX^_BOOT_MMC_SLOT0
prompt "SD/eMMC Slot-0"
help
        SD/eMMC Slot-0

config FEATURE_^EX^_BOOT_MMC_SLOT0_PARTITION_1
    bool "MMC Slot-0 Partition-1"
    default y
    help
        Please select SD/eMMC partition that will have BMC firmware to boot from

config FEATURE_^EX^_BOOT_MMC_SLOT0_PARTITION_2
    bool "MMC Slot-0 Partition-2"
    default n
    help
        Please select SD/eMMC partition that will have BMC firmware to boot from

endchoice
endif




if FEATURE_^EX^_SELECT_BOOT_MMC_SLOT1

choice FEATURE_^EX^_BOOT_MMC_SLOT1
prompt "SD/eMMC Slot-1"
help
        SD/eMMC Slot-1

config FEATURE_^EX^_BOOT_MMC_SLOT1_PARTITION_1
    bool "MMC Slot-1 Partition-1"
    default y
    help
        Please select SD/eMMC partition that will have BMC firmware to boot from

config FEATURE_^EX^_BOOT_MMC_SLOT1_PARTITION_2
    bool "MMC Slot-1 Partition-2"
    default n
    help
       Please select SD/eMMC partition that will have BMC firmware to boot from

endchoice
endif

if FEATURE_^EX^_SELECT_BOOT_MMC_SLOT2

choice FEATURE_^EX^_BOOT_MMC_SLOT2
prompt "SD/eMMC Slot-2"
help
        SD/eMMC Slot-2

config FEATURE_^EX^_BOOT_MMC_SLOT2_PARTITION_1
    bool "MMC Slot-2 Partition-1"
    default y
    help
        Please select SD/eMMC partition that will have BMC firmware to boot from

config FEATURE_^EX^_BOOT_MMC_SLOT2_PARTITION_2
    bool "MMC Slot-2 Partition-2"
    default n
    help
       Please select SD/eMMC partition that will have BMC firmware to boot from

endchoice
endif

if FEATURE_^EX^_BOOT_MMC_SLOT0_PARTITION_1
config FEATURE_MMC_^SLOT0PART1^_BOOT_PARTITION
	string ""
	default "mmcblk0p1"
	help
		Default value of SLOT0 and Partition-1 selection
endif

if FEATURE_^EX^_BOOT_MMC_SLOT0_PARTITION_2
config FEATURE_MMC_^SLOT0PART2^_BOOT_PARTITION
	string ""
	default "mmcblk0p2"
	help
		Default value of SLOT0 and Partition-2 selection
endif


if FEATURE_^EX^_BOOT_MMC_SLOT1_PARTITION_1
config FEATURE_MMC_^SLOT1PART1^_BOOT_PARTITION
	string ""
	default "mmcblk1p1"
	help
		Default value of SLOT1 and Partition-1 selection
endif


if FEATURE_^EX^_BOOT_MMC_SLOT1_PARTITION_2
config FEATURE_MMC_^SLOT1PART2^_BOOT_PARTITION
	string ""
	default "mmcblk1p2"
	help
		Default value of SLOT1 and Partition-2 selection
endif

if FEATURE_^EX^_BOOT_MMC_SLOT2_PARTITION_1
config FEATURE_MMC_^SLOT2PART1^_BOOT_PARTITION
	string ""
	default "mmcblk2p1"
	help
		Default value of SLOT2 and Partition-1 selection
endif

if FEATURE_^EX^_BOOT_MMC_SLOT2_PARTITION_2
config FEATURE_MMC_^SLOT2PART2^_BOOT_PARTITION
	string ""
	default "mmcblk2p2"
	help
		Default value of SLOT2 and Partition-2 selection
endif

config FEATURE_^EX^_MMC_ROOT_SIZE
	 hex  "MMC Root Parition Size"
	 default  128M
	 help
		   Partition size for the Root file system
	  		
config FEATURE_^EX^_MMC_IMAGE_NAME
	 string  "MMC Image Name"
	 default  "mmc.ima"
	 help
		   Output MMC Image name 

config FEATURE_^EX^_FIRMWARE_TAR
	bool  "Generate TAR Of Firmware"
	default n
	help
		Generates TAR ball of the firmware image from build

if FEATURE_^EX^_FIRMWARE_TAR
menu "Firmware TAR Configuration"
config FEATURE_^EX^_FIRMWARE_TAR_NAME
	string "Firmware TAR Name"
	default "rom.tar.gz"
	help
		Output Firmware TAR name

endmenu
endif

config FEATURE_^EX^_MMC_INCLUDE_KERNEL
	bool "Include Kernel in MMC Image"
	default n
	help
		This feature helps to include kernel in MMC Image

endmenu
endif
	  		

if FEATURE_SYSTEM_FIREWALL_SUPPORT
config FEATURE_^EX^_DISABLE_PING_SUPPORT
	bool "Disable Ping Support" 
	default n
	help
	    Disable Ping Support
endif

config FEATURE_^EX^_ADVANCED_IP_ROUTING_SUPPORT
    bool "Enable/Disable Advanced IP Routing"
    default n
    help
        Enable/Disable Advanced IP Routing support
endmenu
endif
