if gpio_hw
menu "SGPIO Configuration"

config FEATURE_GLOBAL_SGPIO_SIGNAL_INVERTED
    bool "Enable/Disable SGPIO signal inverted"
    default n
    help
	Enable or Disable the invert signal of SGPIO.

config FEATURE_DO_NOT_INITIALIZE_GPIO_PINS
	bool "Do Not Initialize GPIO Pins"
	default n
	help
	Do not initiallize gpio pins.

endmenu
endif
