#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE

#Clean Source
clean_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE clean

#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create libfts_casSupport package
build_package-libfts_casSupport:
	PACK_SPX  ./   %BUILD/%PACKAGE/data/libfts_casSupport.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX
	
# Rules to create libfts_casSupport_dev package
build_package-libfts_casSupport_dev:
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/fts_cas.h %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/libfts_casSupport.a %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/libfts_casSupport.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX %TEMPDIR/%PACKAGE/tmp
		PACK_SPX ./ %TEMPDIR/%PACKAGE/tmp


