if sys_zipunzip

menu "zip and unzip Binary Configuration"

config FEATURE_UNZIP_ENABLED
int "unzip"
bool 
default n
help
	Enable unzip support

config FEATURE_UNZIPSFX_ENABLED
int "unzipsfx"
bool 
default n
help
	Enable unzipsfx support

config FEATURE_ZIP_ENABLED
int "zip"
bool 
default n
help
	Enable zip support

config FEATURE_ZIPCLOAK_ENABLED
int "zipcloak"
bool 
default n
help
	Enable zipcloak support

config FEATURE_ZIPGREP_ENABLED
int "zipgrep"
bool 
default n
help
	Enable zipgrep support

config FEATURE_ZIPINFO_ENABLED
int "zipinfo"
bool 
default n
help
	Enable zipinfo support

config FEATURE_ZIPNOTE_ENABLED
int "zipnote"
bool 
default n
help
	Enable zipnote support

config FEATURE_ZIPSPLIT_ENABLED
int "zipsplit"
bool 
default n
help
	Enable zipsplit support

endmenu
endif